/* You can add global styles to this file, and also import other style files */
.ant-single-tag div {
    margin-right: 0px;
    cursor: default;
}

.animated {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.clickable {
    cursor: pointer;
    font-size: 12px;
}

.clickable:hover {
    color: #40a9ff;
}

.has-error-custom,
.has-error-custom input {
    border-color: #f5222d;
}