.greeting {
    padding: 20px;
    text-align: center;
}

.block {
    margin-top: 8px;
}

.main {
    compose: block;
    height: 250px;
}

.map {
    composes: block;
    height: 250px;
}

.footer {
    line-height: 25px;
    padding: 5px 20px 5px 20px;
    font-size: 12px;
}