<nz-table #table nzSize="middle" [nzData]="displayData">
  <thead (nzSortChange)="onSort($event)" nzSingleSort>
    <tr>
      <th nzShowSort nzSortKey="isAdmin">Is Admin</th>
      <th nzShowSort nzSortKey="displayName">Display Name
        <nz-dropdown nzTrigger="click" [nzClickHide]="false">
          <i class="anticon anticon anticon-search ant-table-filter-icon" nz-dropdown></i>
          <div class="custom-filter-dropdown">
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" class="search-input">
            <button nz-button [nzType]="'primary'" (click)="onSearch()">Search</button>
          </div>
        </nz-dropdown>
      </th>
      <th nzShowSort nzSortKey="phoneNumber">Phone</th>
      <th>Username</th>
      <th>Id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of table.data">
      <td>
        <nz-switch [ngModel]="data.isAdmin" [nzControl]="true" (click)="onUpdateAdminRole(data, !data.isAdmin)" [nzLoading]="data.isLoading"></nz-switch>
      </td>
      <td>{{data.displayName}}</td>
      <td>{{data.phoneNumber}}</td>
      <td>{{data.userName}}</td>
      <td>{{data.id}}</td>
    </tr>
  </tbody>
</nz-table>