<nz-table #table nzSize="middle" [nzData]="data">
  <thead>
    <tr>
      <th nzWidth="20%" class="center">From</th>
      <th nzWidth="20%" class="center">To</th>
      <th nzWidth="10%" class="center">Code</th>
      <th nzWidth="10%" class="center">Id</th>
      <th nzWidth="20%" class="center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of table.data">
      <td>
        <ng-container *ngIf="!rows[data.id].isEditting">
          {{data.from | date : 'short'}}
        </ng-container>
        <ng-container *ngIf="rows[data.id].isEditting">          
          <nz-date-picker [(ngModel)]="rows[data.id].data.from" nzShowTime [disabled]="rows[data.id].isProcessing"></nz-date-picker>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="!rows[data.id].isEditting">
          {{data.to | date : 'short'}}
        </ng-container>
        <ng-container *ngIf="rows[data.id].isEditting">
          <nz-date-picker [(ngModel)]="rows[data.id].data.to" nzShowTime [disabled]="rows[data.id].isProcessing"></nz-date-picker>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="!rows[data.id].isEditting">
          {{data.code}}
        </ng-container>
        <ng-container *ngIf="rows[data.id].isEditting">
          <input type="text" nz-input [(ngModel)]="rows[data.id].data.code" [disabled]="rows[data.id].isProcessing" />
        </ng-container>
      </td>
      <td>
        {{data.id}}
      </td>
      <td>
        <div class="editable-row-operations">
          <ng-container *ngIf="!rows[data.id].isEditting">
            <button nz-button nzType="default"
                    (click)="onStartEdit(data.id)"
                    nzSize="small">
                Edit
            </button>
          </ng-container>
          <ng-container *ngIf="rows[data.id].isEditting">            
            <button nz-button nzType="primary"
                    (click)="onSaveEdit(data.id)"
                    [nzLoading]="rows[data.id].isProcessing"
                    nzSize="small">
                Save
            </button>
            <nz-popconfirm [nzTitle]="'Sure to cancel?'" (nzOnConfirm)="onCancelEdit(data.id)">
              <button nz-button nzType="danger"
                      nzSize="small"
                      nz-popconfirm
                      [disabled]="rows[data.id].isProcessing">
                Cancel
              </button>
            </nz-popconfirm>
          </ng-container>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>