<nz-table #table nzSize="middle" [nzData]="data">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Code</th>
      <th>Id</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of table.data">
      <td>
        <ng-container *ngIf="!editCache[data.id].edit">
          {{data.from | date : 'short'}}
        </ng-container>
        <ng-container *ngIf="editCache[data.id].edit">          
          <nz-date-picker [(ngModel)]="editCache[data.id].data.from" nzShowTime></nz-date-picker>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="!editCache[data.id].edit">
          {{data.to | date : 'short'}}
        </ng-container>
        <ng-container *ngIf="editCache[data.id].edit">
            <nz-date-picker [(ngModel)]="editCache[data.id].data.to" nzShowTime></nz-date-picker>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="!editCache[data.id].edit">
          {{data.code}}
        </ng-container>
        <ng-container *ngIf="editCache[data.id].edit">
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.code">
        </ng-container>
      </td>
      <td>
        {{data.id}}
      </td>
      <td>
        <div class="editable-row-operations">
          <ng-container *ngIf="!editCache[data.id].edit">
            <button nz-button nzType="default"
                    (click)="onStartEdit(data.id)"
                    nzSize="small">
                Edit
            </button>
          </ng-container>
          <ng-container *ngIf="editCache[data.id].edit">            
            <button nz-button nzType="primary"
                    (click)="onSaveEdit(data.id)"
                    [nzLoading]="editCache[data.id].isProcessing"
                    nzSize="small">
                Save
            </button>
            <nz-popconfirm [nzTitle]="'Sure to cancel?'" (nzOnConfirm)="onCancelEdit(data.id)">
              <button nz-button nzType="danger"
                      nzSize="small"
                      nz-popconfirm
                      [disabled]="editCache[data.id].isProcessing">
                Cancel
              </button>
            </nz-popconfirm>
          </ng-container>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>