:host {
    display: table;
    height: 100%;
    width: 100%;
}

.form-container {
    display:table-cell;
    vertical-align:middle;
}

.login-form {
    max-width: 300px;
    margin: 0 auto; 
}

.login-form-button {
    width: 100%;
}

.error-login-result {
    color: #f5222d;
}
